<!DOCTYPE html>
<html>
<head>
    
    <title>{% block title %}R-Index{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}">
</head>
<body>
    <header>
        <h1>R-Index</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('papers') }}">Papers</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('add_paper') }}">Add Paper</a></li>
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
