{% extends "base.html" %}
{% block title %}R-Index{% endblock %}
{% block content %}
<div class="main_box">
    <div class="sponsors">
        <img class= "image_sponsor" src="../static/images/uvigo.jpg" alt="Sponsor Image">
    </div>
    <div class="papers-container">
        {% for item in paper_reviews %}
            <div class="paper-box">
                <h2>{{ item.paper.title }}</h2>
                <p>{{ item.paper.summary }}</p>
                <p>Authors: {{ item.paper.authors }}</p>
                <p>Publication Date: {{ item.paper.publication_date }}</p>
                <p>Link: <a href="https://{{ item.paper.url }}">{{ item.paper.url }}</a></p>
                <p>Number of Reviews: {{ item.num_reviews }}</p>
                <p>Average Review Score: {{ item.avg_score }} / 5</p>
                <div class="stars">
                    {% for i in range(1, 6) %}
                        {% if item.avg_score >= i %}
                            <span class="star">&#9733;</span>
                        {% elif item.avg_score >= i - 0.5 %}
                            <span class="star">&#9733;</span>
                        {% else %}
                            <span class="star">&#9734;</span>
                        {% endif %}
                    {% endfor %}
                </div>
                <button><a href="{{ url_for('paper_detail', paper_id=item.paper.__oid__) }}">View Reviews</a></button>
                <hr>
            </div>
        {% endfor %}
    </div>
    <div class="sponsors">
        <img class="image_sponsor" src="../static/images/uvigo.jpg" alt="Sponsor Image">
    </div>
</div>
{% endblock %}
