body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e3f2fd;
    padding: 20px 0;
    border-bottom: 1px solid #ddd;
}

header h1 {
    margin: 10;
    padding: 0;
    text-align: center;
    color: #3f51b5;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
    background-color: #bbdefb;
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #3f51b5;
    font-weight: bold;
}

nav ul li a:hover {
    color: #1a237e;
}

main {
    margin: 20px auto;
    max-width: 900px;
}

form {
    text-align: center;
    max-width: 600px;
    margin: auto;
    background-color: #e3f2fd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #1a237e;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    width: auto;
    background-color: #42a5f5;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

form input[type="submit"]:hover {
    background-color: #1e88e5;
}

.add-review {
    display: auto;
}

.papers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paper-box {
    width: 80%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #e3f2fd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.header_header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 90%;
    margin-left: 3rem;
}

.title_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: fit-content;
    padding: 1rem;
}

.logout {
    text-align: center;
    margin-bottom: 1rem;
    margin-top: -1rem;
    background-color: #f44336;
}

.user_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: fit-content;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.paper-box h3 {
    color: #1a237e;
}

.paper-box p {
    color: #1a237e;
}

.paper-box a {
    color: #1a237e;
    text-decoration: none;
}

.paper-box a:hover {
    text-decoration: underline;
}

.stars {
    color: #ffd700;
    font-size: 1.5em;
}

.form_dlt {
    background-color: white;
    padding: 0;
}

.star {
    margin: 0 2px;
}

.delete_btn {
    background-color: #f44336;
    color: white;
    border: double;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;

}

button {
    background-color: #42a5f5;
    color: white;
    border: double;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

button:hover {
    background-color: #1e88e5;
}

button a {
    color: white;
    text-decoration: none;
}